@import '../../style/variables';
.slideshowSection {
  width:100%;
  left:50%;
  margin:0;    
  position : relative;  
  transform: translateX(-50%);
  background-color:  $portfolio-background-color;
  .picturesDiv {
    display: flex;
    position : relative;  
    margin-right: 0 20px;
  }
  .slideshowImg {
    overflow: hidden;
    width: 100%;
    border: 1px solid $font-color;
  }
  .PArrow {
    position: absolute;
    top: 44%;
    left: 1%;
    height: 40px;
  }
  .PArrow:hover, .NArrow:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .NArrow:hover{
    transform: rotate(180deg) scale(1.1);
  }
  .PArrowNone, .NArrowNone, .noSlideshowCounter {
    display: none;
  }
  .NArrow {
    position: absolute;
    top: 44%;
    right: 1%;
    height: 40px;
    transform:rotate(180deg);
  }
  .slideshowCounter {
    position: absolute;
    bottom :1%;
    right: 50%;
    color:$font-color;
    font-size:14px;
    filter: grayscale(100%);
  }
  .closeBtn {
    position: absolute;
    width:40px;
    height:40px;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    padding: 0 12px;
    color: $font-btn-color;
    background-color: $font-color;
    font-size: $font-size;
    border: 0;
    cursor: pointer;
    &:hover {
      background-color:red;    
      filter: grayscale(60%);
    }
  }
  
}
/************* Tablette *******************/
@media screen and (min-width:770px) and (max-width: 1023px){
  .slideshowSection {
    .picturesDiv {
      display: flex;
      position : relative;  
      margin: 0 10px;
    }
    .PArrow {
      height: 30px;
    }
    .NArrow {
      position: absolute;
      top: 44%;
      right: 1%;
      height: 30px;
      transform:rotate(180deg);
    }
    .slideshowCounter {
      font-size:1rem;
    } 
  }
}
/************* Mobile *******************/
@media screen and (max-width: 769px) {
  .slideshowSection {
    width:100%;
    .picturesDiv {
      display: flex;
      position : relative;  
      margin: 0 10px;
    }
    .PArrow, .NArrow {
      height: 20px;
    }
    .slideshowCounter {
      display: none;
    } 
    .closeBtn {
      width:25px;
      height:25px;
      font-size: $font-size-mobil;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

