.ratingDiv {
  display: flex;
  justify-content: space-around;
  gap : 8px;
  img {
    height:15px;
    width:15px;
    filter:grayscale(50%);
  }
}
/********** Tablette **********/
@media screen and (min-width:769px) and (max-width: 1023px) {
  .ratingDiv {
    gap : 6px;
    img {
      width: 14px;;
      height:14px;
    }
  } 
}
/************* Mobile *******************/
@media screen and (max-width: 768px) {
  .ratingDiv {
    gap : 1px;
    img {
      width:13px;
      height:13px;
    }
  }
}