@import '../../style/variables';
@import '../../style/mixins';

.modal {
  @include flex-center-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.4);    
  z-index: 10;  
  max-width: 1440px;
  margin:auto;
  .modalContent {
    @include flex-col-center;
    width:90%;
    max-height: 90vh;;
    gap: 20px;
    padding: 20px;
    background-color:$portfolio-background-color;
    position: relative;
    overflow-y: auto;
    .intro {
      @include flex-col-center;
      .modalCloseBtn {
        position: absolute;
        top: 15px;
        right: 15px;
        height: 40px;
        font-size: $font-size;
        border-radius: 50%;
        padding: 0 12px;
        color: $font-btn-color;
        background-color: $font-color;
        border: 0;
        cursor: pointer;
        &:hover {
          background-color:red;
          filter:grayscale(60%);
        }
      }   
      .modalTitle {
        font-size: 24px;
        margin: 0;
        font-weight: bold;
        margin-bottom: 10px;
      }   
      .modalDescription {
        font-size: $font-size;
        margin: 0;
        margin-bottom: 10px;
      }
    }
    .contentDetails {
      display: flex;
      flex-direction: row;
      gap:20px;
      .left {
        font-size: $font-size;
        margin-bottom: 20px;
        padding: 0 20px;
        margin: 0;
        width:75%;
        @include cardEffect;
        p{
          text-align: center;
          font-weight: 600;
        }
        ul {
          padding: 0;
          li{
            list-style-type: none;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        gap:20px;
        width: 25%;
        .cardTechnologiesDiv {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          gap: 10px;
          @include cardEffect;
          padding:10px 10px;
          p{
            margin:0;
            font-size: 20px;
          }
          .technologies {
            display: flex;
            flex-wrap: wrap;
            .technology {
              display: flex;
              flex-direction: row;
              width: 35px;
              height: 35px;
              object-fit: contain;
            }  
          }
        }
        .linksDiv {
          display: grid;
          grid-template-rows: auto auto; 
          grid-template-columns: 1fr 1fr; 
          justify-items: center;
          align-items: center;
          @include cardEffect;
          padding:10px 10px;
          .cardCode {
            border: 3px solid $font-color;
            width: 40px;
            height: 40px;
            object-fit: cover;
            object-position: 15%;
            border-radius: 50%;
          }  
          .cardGHCode {
            border: 3px solid $font-color;
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 50%;
          }
          p{
            margin:0;
            font-size: 18px;
          }
        }
        .detailImg {
          display: flex;
          flex-direction: column; 
          align-items: center;
          width: 100%;    
          cursor: pointer; 
          @include cardEffect;   
          padding:0 10px;    
          p{
            margin:0;
            font-size: $font-size;
          } 
          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;    
            padding:0;  
            li {         
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
              border-radius: 8px;
              overflow: hidden;
              img {
                width: 150px;
                height: auto; 
              }  
            }    
          }
        }   
      }  
    }
  } 
}
/************* Tablette *******************/
@media screen and (min-width: 770px) and (max-width: 1023px) {
.modal {
  .modalContent {
    .intro {
      @include flex-col-center;
      .modalTitle {
        font-size: 22px;
      }   
      .modalDescription {
        font-size: $font-size-tablet;
      }
    }
    .contentDetails {
      .left {
        font-size: $font-size-tablet;
      }
      .right {
        .detailImg {
          padding:0 15px;    
          p{
            margin:0;
            font-size: $font-size-tablet;
          } 
           }   
      }  
    }
  } 
}
}
 
/************* Mobile *******************/
@media screen and (max-width: 769px) {
  .modal{ 
    .modalContent {
      padding: 10px;
      width:90%;
      .intro {
        .modalCloseBtn {
          font-size: $font-size-mobil;
        }   
        .modalTitle {
          font-size: $font-size-mobil;
          font-weight: bold;
        }   
        .modalDescription {
          font-size: $font-size-text-mobil;
        }
      }
      .contentDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        .left {
          font-size: $font-size-text-mobil;
          width:100%;
        }
        .right {
          gap:20px;
          width: 100%;
          .cardTechnologiesDiv {
            padding:10px 10px;
            p{
              margin:0;
              font-size: $font-size-mobil;
            }
            .technologies {
              display: flex;
              gap:15px;
              flex-wrap: wrap;
            }
          }
          .linksDiv {
            padding: 5px 30%;
            gap:10px;
            p{
              margin:0;
              font-size: $font-size-mobil;
            }
          }
          .detailImg {
            display: flex;   
            cursor: pointer; 
            padding:10px 0;     
            p{
              margin:0;
              font-size: $font-size-mobil;
            }
            ul {
              display: flex;
              flex-direction: row;
              li {
                img {
                  width:100px;
                }
              }         
            }
          }   
        }  
      }
    } 
  }
}