@import '../../style/variables';
@import '../../style/mixins';

.modal {
  @include flex-center-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);    
  z-index: 10;  
  .modalContent {
    @include flex-col-center;
    justify-content: center;    
    gap:20px;
    max-width: 1000px;
    padding: 20px;
    background-color:$portfolio-background-color;
    position: relative;
    .modalCloseBtn {
      position: absolute;
      top: 15px;
      right: 15px;  
      height: 40px;
      width:60 px;
      font-size: 22px;
      border-radius: 6px;
      padding:0 12px;
      color: $font-btn-color;
      background-color: $font-color;
      border:0;
      cursor: pointer;
    }
    .modalTitle {
      font-size: 1.8rem;
      margin:0;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .modalDescription {
      font-size: 1.2rem;
      margin-bottom: 20px;       
      padding:0;
      margin:0;
    }
    .cardTechnologies{
      @include flex-row-center;
      flex-wrap: wrap;
      gap: 20px;
      filter: grayscale(80%);
        p {
          font-size: 14px;
        }
        .cardTechnology {
          width: 50px;
          height:50px;
          object-fit:contain;
        }       
      }
    }  
    .linksDiv {
      display: flex;
      gap:15px;
      .cardCode {
        border:3px solid $font-color;
        width: 50px;
        height:50px;
        object-fit:cover;
        object-position: 15%;
        border-radius: 50%;
    }
    .cardGHCode {
        border:3px solid $font-color;
        width: 50px;
        height:50px;
        object-fit:cover;
        border-radius: 50%;
    }
  }
}
/************* Tablette *******************/
@media screen and (min-width: 770px) and (max-width: 1023px) {
    .modal {
    .modalContent {
      padding:20px 0;max-width: 1020px;
      .modalCloseBtn {
        width:15 px;
        height: 30px;
        font-size: 16px;
      }
      .modalTitle {
      font-size: 1.6rem;
      font-weight: bold;
      }
      .modalDescription {
        font-size: 1.2rem;
      }
      .cardTechnologies {
        gap: 5px;
        .cardTechnology {
          width: 40px;
          height: 40px;
        }
      }
      .linksDiv {
      display: flex;
      gap:10px;
      .cardCode {
        width: 35px;
        height:35px;
        }
        .cardGHCode {
            width: 35px;
            height:35px;
        }
      }
    }
  }
}
 
/************* Mobile *******************/
@media screen and (max-width: 769px) {
  .modal {
    .modalContent {
      padding:20px 0;
      .modalCloseBtn {
        width:15 px;
        height: 30px;
        font-size: 16px;
      }
      .modalTitle {
      font-size: 1.6rem;
      font-weight: bold;
      }
      .modalDescription {
        font-size: 1.2rem;
        padding : 0 10px;
        text-align: center;
      }
      .cardTechnologies {
        gap: 5px;
        .cardTechnology {
          width: 40px;
          height: 40px;
        }
      }
      .linksDiv {
      display: flex;
      gap:10px;
      .cardCode {
        width: 35px;
        height:35px;
        }
        .cardGHCode {
            width: 35px;
            height:35px;
        }
      }
    }
  }
}