@import '../../style/variables';
@import '../../style/mixins';
.skillsSection{ 
  background-color:  $portfolio-background-color-grey;
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  padding: 0 20px;
  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; 
    align-items:start;
    justify-items: center;
    font-size: $font-size;
    padding-bottom: 30px;
  }
}

/************* Tablette *******************/
@media screen and (min-width:770px) and (max-width: 1023px){
  .skillsSection {
    .skillsGrid {
    grid-template-columns: repeat(2, 1fr);
    }
  }
}

/************* Mobile *******************/
@media screen and (max-width: 769px){
.skillsSection {
    .skillsGrid {
    grid-template-columns: repeat(1, 1fr);
    }
  }
}