@mixin flex-center-between {
  display :flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-center-center {
  display :flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-col-center-between {
  display :flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@keyframes slidein {
  /*from {
    margin-bottom: 100%;
    height: 300%;
  }
   to {
    margin-right: 0%;
    width: 100%;
  }*/
}