@mixin flex-center-between {
  display :flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-center-center {
  display :flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-col-center-between {
  display :flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@keyframes slidein {
  from {
    height:100%;
  }
   to {
    height: 10%;
  }
}
@mixin cardEffect {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  border-radius: 8px;
}