  // couleurs principales
  $portfolio-color: #1D6154;
  $portfolio-background-color-grey: #F2F2F2;
  $portfolio-background-color: #FFFFFF;

  // couleurs de fond
  $background-text-color: #F2F2F2;
  //$background-color :#F2F2F2;
  
  // textes
  $font-family: "Lato", sans-serif;
  $font-weight: 400;
  $font-size: 20px;
  $font-size-tablet: 18px;
  $font-size-mobil: 16px;
  $font-color: #1D6154;
  $font-btn-color: #FFFFFF;

  // divers
  $border-radius: 25px;
  $padding : 50px;
