@import '../../style/variables';
@import '../../style/mixins';

.footer {
  @include flex-col-center;
  justify-content: center;
  flex-wrap: wrap;
}
/************* Tablette *******************/
@media screen and (min-width:770px) and (max-width: 1023px){
  .footer {
    .footerTitle{
      font-size: 18px;
    } 
  }
}
/************* Mobile *******************/
@media screen and (max-width: 769px){
  .footer {
    .footerTitle{
      font-size: 12px;
    } 
  }
}