@import '../../style/variables';
@import '../../style/mixins';

.navDiv {
  @include flex-center-between;
  flex-wrap: wrap;
  background-color: $portfolio-background-color;
  padding: 20px;
  .logoDiv {
    padding-left: 30px;
    align-items: center;
    i {
      font-size: 40px;
      color: $font-color;
    }
  }
  .navbar {
    @include flex-center-between;
    flex-wrap: wrap;
    padding: 40px 0;
    gap: 2rem;
    font-size: $font-size;
    .navLink {
      @include flex-center-center;
      color: $font-color;
      text-decoration-line: none;
      position: relative;
      padding:10px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 0;
        height: 2px;
        background-color: $font-color;
        transition: width 0.3s ease-out;
      }
      &:hover {
        background-color:  $portfolio-background-color-grey; 
        &::before {
          width: 100%; 
        }
      }
    }
  }
  .hamburgerDiv {
    display:none;
  }
}
/************* Tablette *******************/
@media screen and (min-width: 770px) and (max-width: 1023px) {
.navDiv {
  .logoDiv {
    padding-left: 10px;
    i {
      font-size: 30px;
    }
  }
  .navbar {
    padding: 20px 0;
    gap: 0.8rem;
    font-size: 1.2rem;
    }
  }
}
/************* Mobile *******************/
@media screen and (max-width: 769px) {
  .navDiv {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:10px 0;
    .logoDiv {
      width:50%;
      padding-left: 10px;
      i {
        font-size: 25px;
      }
    }
    .navbar {
      display:none
    }    
    .open {
      display: flex;
      flex-direction: column;
      gap:0;
      padding:0;
      .navLink {
        @include flex-center-center;
        color: $font-color;
        font-size:15px;
        transition: all 0.3s ease-in-out;
        position: relative;
        padding:2px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          width: 0;
          height: 2px;
          background-color: $font-color;
          transition: left 0.3s ease-in-out;
        }
        &:hover {
          background-color:  $portfolio-background-color-grey; 
          &::before {
            width: 100%; 
          }
        }
      }
    }
    .hamburgerDiv {
      display : inline;
    }
  }
}