@import '../../style/variables';
@import '../../style/mixins';

.aboutMe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $portfolio-background-color-grey;
  line-height: 1.7rem;
  padding: 0 50px;
  cursor: pointer;
  .textDiv {
    filter: grayscale(40); 
    max-height:50px; 
    transition: max-height 0.5s ease-in-out;
    &.visible {
      margin: 0;
      overflow: hidden;
      font-size: $font-size;   
      max-height: 1000px; 
    }
  }
  .openTextBtn {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border:0;
    margin-bottom: 10px;
    cursor: pointer;
    .fa-solid{
      color:rgba($portfolio-color, 0.7);
      font-size: 1.6rem;
    } 
  }
  &:hover {
    border:0;
    .fa-solid{
      color:$portfolio-color;  
      text-align: center;  
    }
  }
}

/************* Tablette *******************/
@media screen and (min-width:770px) and (max-width: 1023px){
  .aboutMe {
    line-height: 1.6rem;      
  }
}
/************* Mobile *******************/
@media screen and (max-width: 769px){
.aboutMe {
  line-height: 1.4rem;      
  padding: 0 20px;  
  .textDiv {
    .visible {
      margin: 0;
      overflow: hidden;
      font-size:16px;  
    }
  }}
}